/*
Theme Name:     HIFF 2014 Hollywood Film Awards / Spring Showcase Theme
Theme URI:      http://www.hiff.org/
Description:    Child theme for the Nexus Premium WordPress Theme
Author:         Christopher Hall
Author URI:     http://chrishalldesign.com/
Template:       nexus-1.1
Version:        1.0.0
*/

@import url("./style.css");
@import url("./responsive.css");
@import url("./fonts.css");
@import url("./print.css");
@import url("./animate.css");

html {
  background-image: none;
  background-color: #fffdfa;
}

/* Special subheader banner for Creative Lab page */
body.page-id-2758 div.subheader-wrapper {
  /* background: url('http://www.hiff.org/wp-content/uploads/2013/03/Creative_Lab_Web_Banner-1x.jpg') no-repeat scroll 0 0 transparent; */
  background-color: #202020;
  height: 180px;
  display: none;
}
body.page-id-2758 div#subheader h1 { text-indent: -9999px; }

h1, h2, h3, h4, span.pullquote, blockquote, .dropcap {
font-family: "Open Sans";
}
/* h1, h2, h3, h4, h5, h6, span.pullquote, blockquote, .dropcap, html, p {
font-family: "Open Sans";
} */

div.menu-wrapper {
    border-radius: 0 0 0 0 !important;
}

div.menu-wrapper-upper {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #202020;
    /*background-image: url('http://www.hiff.org/wp-content/uploads/2015/01/bg.jpg');*/
    background-image: none;
    background-repeat: repeat;
    border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2) -moz-use-text-color;
    border-radius: 0;
    border-style: solid;
    border-width: 0px;
    /* box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.3); */
    padding: 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    width:100%;
}
div.uppersearch { float:left; margin-left: 10px; }
div.uppersearch .searchform { margin: 0; }
div.uppersearch .searchtext { height: 21px; font-size: 10px; width: 180px; }
div.uppersearch .searchsubmit { font-size: 11px; padding: 4px; margin: 0px 0px 0px 5px;  }

div.mobile-uppersearch { float:left; }
div.mobile-uppersearch .searchform { margin: 0; }
div.mobile-uppersearch .searchtext { height: 37px; font-size: 18px; width: 180px; }
div.mobile-uppersearch .searchsubmit { margin: 0px 0px 0px 5px;  }

div.uppermenu { height:28px; margin: 0px auto; text-align:right; color:white; }
#upper_menu { float:right; }
#upper_menu.topmenu > li > a { padding: 3px 10px 5px 10px; }
#upper_menu.topmenu > li > a:hover strong { color: #ffde16; }
#upper_menu li.sfHover ul, html.no-touch #upper_menu li:hover ul { left: 0; top: 27px; z-index: 99;}
#upper_menu ul { width: 14em; }

div.tagline { display: none; }
div.header-content { padding: 0; }

ul.topmenu ul.sub-menu { background: none repeat scroll 0 0 #ffffff;) }
ul.topmenu.tablet-menu > li { margin-left: 0; }
ul.topmenu.tablet-menu > li > a { padding: 12px 16px 13px 16px; }

html.boxed-layout.no-touch div.menu-wrapper ul.topmenu ul.sub-menu li.sfHover > a,
html.boxed-layout.no-touch div.menu-wrapper ul.topmenu ul.sub-menu li:hover > a {
-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3); }


BODY.home-page .subheader-wrapper, BODY.blog .subheader-wrapper, BODY.single-post .subheader-wrapper, BODY.post-type-archive-pressreleases .subheader-wrapper, BODY.single-pressreleases .subheader-wrapper { display:none; }

section.gallery > figure { float: left; margin: 0; text-align: center; width: 190px; }

.image-float { padding: 9px; float:left; text-align:center; width:33%; }
.image-float img { border: solid 1px rgba(0,0,0,0.1); }

div#sidebar > article > div.sidebar-widget > h3 { line-height: 20px; font-weight: normal; text-shadow: none; text-align: center; }
#sidebar article > .sidebar-widget > h3 { font-size: 20px; }


html.skin-black body span.call-us-button a.btn, html.skin-black .btn, html.skin-black a.btn, html.skin-black a.btn:visited, html.skin-black body a.btn, html.skin-black body a.btn:visited, html.skin-black button, html.skin-black .wpcf7-submit, html.skin-black input[type="submit"], html.skin-black body div.social-links > a.btn, html.skin-black a.accordion-toggle, html.skin-black a.accordion-toggle:visited, html.skin-black a.accordion-toggle:hover, html.skin-black .main .tabs > li > a, html.skin-black .tabs > li > a, html.skin-black body .main .tabs > li > a, html.skin-black body .tabs > li > a {
  background-color: #00aeef !important;
}
html.skin-black body div.recent-posts article.item div.description p.post-meta a, html.skin-black body div.recent-posts article.item div.description p.post-meta a:visited, html.skin-black body div.recent-posts-shortcode div.preview-content p.post-meta a, html.skin-black body div.recent-posts-shortcode div.preview-content p.post-meta a:visited, html.skin-black body span.categories a, html.skin-black body ul.page-numbers > li > span, html.skin-black ul.page-numbers > li > a.page-numbers, html.skin-black body ul.page-numbers > li > a.page-numbers:visited {
  background-color: #00aeef !important;
}
.subfooter { text-shadow: none !important; }

#content_container { margin: 30px; }
#content_container br { display: none; }

.clearfix { clear: both; }
.col-img {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}
.hiff-cinema-partner-img.col-img {
  background-image: url('http://www.hiff.org/wp-content/gallery/homepage_banners/HIFF-Cinema-Partners_fix.png');
}
.courtyard-cinema.col-img {
   background-image: url('http://mallimages.mallfinder.com/events/wardcenters/cinemalogo1.png');
}

.HMMC-img.col-img {
  background-image: url('http://hawaiianmediamakers.com/img/logo-dark.png');
  background-size: 78%;
  background-position: center center;
}

.biennial.col-img {
   background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall_carousel/NETPAC-Logo.jpg');
   background-size: contain;
   width: 220px;
   background-position: center center;
}

/* Responsive site customizations */
@media only screen and (min-width:960px) {
  #wrap div.header-bg-fill { background: #fffdfa url('http://hiff.org/wp-content/uploads/2017/04/FF-2017-banner.jpg') no-repeat scroll top center; }
  div.uppermenu { width: 980px; }
  div.header-bg { height: 433px; }
  div.mobile-uppersearch { display: none; }
  header { margin-top:70px }
  header div.logo > a, .ie8 header div.logo > a { height:252px !important; }
        .hide_for_large { display: none; }
}

/* Tablet customizations */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #wrap div.header-bg-fill { background: #fffdfa url('http://hiff.org/wp-content/uploads/2017/04/FF-2017-banner.jpg') no-repeat scroll top center; }
  div.header-bg { height: 244px; }
  div.mobile-uppersearch { display: none; }
  div.uppermenu { width: 760px; }
  ul#upper_menu > li { margin-left: 0; }
  ul.topmenu.tablet-menu > li > a { padding: 12px 14px 13px; }
  header { margin-top:28px; }
  header div.logo > a, .ie8 header div.logo > a { height:178px !important; }
  div.main, footer, div.subfooter, nav { width: 760px !important; }
        .hide_for_large { display: none; }
}

/* Mobile customizations */
@media screen and (min-width: 480px) and (max-width: 767px) {
  #wrap div.header-bg-fill { background: #fffdfa url('http://www.hiff.org/wp-content/uploads/2017/07/FF-2017-bannertablet.jpg') no-repeat scroll top center; }
  div.header-bg { height: 263px; }
  div.uppermenu { display: none; }
  div.mobile-uppersearch { display: block; clear: both; }
  div.mobile-uppersearch .searchtext { width: 260px !important; }
  div.logo { margin-bottom: 15px; }
  header div.logo > a, .ie8 header div.logo > a { height:263px !important; }
  nav { width: 90% !important; }

  div.main, footer, div.subfooter, .mobile-menu-wrapper, div.header-content.mobile-header-content {
    min-width: 90% !important; margin-left: auto; margin-right: auto;
  }
        .show-for-large-only { display: none; }
        .biennial.col-img { background-size: contain; }
}

@media screen and (max-width: 479px) {
  #wrap div.header-bg-fill { background: #fffdfa url('http://www.hiff.org/wp-content/uploads/2017/07/FF-2017-bannertabletmobile.jpg') no-repeat scroll top center; }
  div.header-bg { height: 263px; }
  div.uppermenu { display: none; }
  div.mobile-uppersearch { display: block;  clear: both; }
  div.mobile-uppersearch .searchtext { width: 125px !important; }
  div.logo { margin-bottom: 15px; }
  header div.logo > a, .ie8 header div.logo > a { height:185px !important; }
  nav { width: 90% !important; }
        .show-for-large-only { display: none; }

  div.main, footer, div.subfooter, .mobile-menu-wrapper, div.header-content.mobile-header-content {
    min-width: 90% !important; margin-left: auto; margin-right: auto;
  }
        .biennial.col-img { background-size: contain; }
}

/* initial page load */
#post-load {
  display:none;
}

.prime-page {
  margin: 0;
}

.page-id-4146 .prime-page {
  margin-top: 30px;
}

.recent-blog-header,
.recent-posts-shortcode {
  padding: 0 30px;
}

#menu-header {
  text-align: left;
  font-weight: 600;
}

.main {
  min-width: 980px;
}

#homepage-2014-fall_container {
  background-color: none;
}

/* carousel */
#homepage-carousel a {
  width: 100%;
}

/* carousel captions */
.caption {
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 0 6px 0 0;
}

.caption.caption-hidden {
  display: none;
}

.caption h1:first-child {
  color: #f7941e;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.caption h1:first-child span {
  color: #FFF;
}

.caption aside {
  color: #E2D202;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 10px 0 0 30px;
}

.caption footer {
  padding: 0;
}

.caption .subfooter {
  /* display: none; */
}

/* #festival-app : used during festival times*/

#festival-app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

#festival-app header {
  width: 100%;
  margin: 30px 0;
}

#festival-app header h1 {
  color: #222;
  text-align: center;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

#festival-app section {
  flex: 0 1 auto;
  display: inline-block;
  height: 250px;
  width: 306px;
  margin: 0 0 25px 0;

  border-radius: 6px;
  background-color: #000;

  // background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  -webkit-transition: all .15s;
  transition: all .15s;

}

#festival-app section:hover {
  box-shadow: 0 1px 4px rgba(0,0,0,0.24), 0 1px 3px rgba(0,0,0,0.48);
  filter: brightness(1.15);
}

#festival-app section:nth-child(4n+2) {
  width: 100%;
  height: 300px;
}

#festival-app section:nth-child(n+19) {
  width: 306px;
  height: 250px;
}

#festival-app section:last-child {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 120px;
}

#festival-app section:last-child h4 {
  color: #222;
  background-color: rgba(0, 0, 0, 0);
  padding: 19px 0 0;
  font-weight: 800;
}

#festival-app section a {
  display: block;
  height: 100%;
  width: 100%;

  text-decoration: none;
}

#festival-app section a h4 {
  border-radius: 6px 6px 0 0;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;

  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-align: center;
}

/* TEMP FIXES REMOVER AFTER 2016 FALL SEASON IS OVER */
#festival-app section#halekulani-golden-orchid-award-nom-2016 {
  background-position: -29px 35px;
}

#festival-app section#award-buzz-2016 {
  background-size: cover;
  background-position: 0px 35px;
}

#festival-app section#made-in-hawaii-2016 {
  background-position: center 35px;
}

#festival-app section#kamen {
  background-position: center -9px;
}

#festival-app section#european-showcase-2016 {
  background-position: center 35px;
}

#festival-app section#asia-cinerama {
  background-position: -127px -45px;
}

#festival-app section#spotlight-on-hk-2016 {
  background-size: cover;
  background-position: center 35px;
}

#festival-app section#spotlight-on-china-2016 {
  background-position: -96px center;
}

#festival-app section#spotlight-on-korea-2016 {
  background-position: -43px 35px;
}

#festival-app section#india-showcase2016 {
  background-size: cover;
  background-position: -93px center;
}

#festival-app section#southeast-asian-showcase-2016 {
  background-size: cover;
  background-position: -112px 35px;
}

#festival-app section#narrative-shorts-2016 {
  background-size: cover;
  background-position: center center;
}

#festival-app section#sound-x-vision-2016 {
  background-size: cover;
  background-position: -47px 0;
}

#festival-app section#taiwan-showcase-2016 {
  background-position: -158px 0;
}

#festival-app section#eat-drink-film-2016 {
  background-size: cover;
  background-position: -100px 35px;
}

#festival-app section#filmmaker-in-focus-2016 {
  background-size: cover;
  background-position: -60px 35px;
}

#festival-app section#buy-hiff-tickets {
  background-position: center 62px;
  background-color: #00AEEF;
  // width: 65.6%;
}

#festival-app section#free-events-2016 {
  background-size: cover;
  background-position: center center;
}

/**/

#call-to-action-app {
  width: 100%;
  // height: 250px;
  background-color: #00AEEF;
  padding: 10px 35px;
  padding-bottom: 30px;
  box-sizing: border-box;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#call-to-action-app section {
  flex: 0 1 20%;
  display: inline-block;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: center 20px;

  position: relative;

  text-align: center;
}

#call-to-action-app section#hiff-newsletter-callout {
  flex: 0 1 30%
}

#call-to-action-app section#hiff-newsletter {
  flex: 0 1 55%;
  padding-top: 30px;
}

#call-to-action-app section a {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  text-decoration: none;
  color: #222;
}

#call-to-action-app section a p {
  display: block;
  height: 100%;
  padding-top: 100px;
  font-size: 16px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
}

#call-to-action-app section form {
  margin: 0;
}

#social-links ul {
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#social-links ul li {
  padding-top: 15px;
  flex: 0 1 80px;
}

/* random theme fixes */
.main .content-wrapper .page-container .span12 footer {
  display: none;
}

.subfooter {
  width: auto;
  text-align: center;
}

/* sponsors page app */

#sponsor-page-app {
  padding: 30px 30px;
  margin-bottom: 50px;
}

#sponsor-page-app section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 35px;
}

#sponsor-page-app section header {
  width: 100%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  margin-top: 0;
  margin-bottom: 35px;

  text-align: center;
}

#sponsor-page-app section article.sponsor {
  flex: 0 1 30%;
  display: inline-block;
  height: 200px;
  // width: 200px;
  // margin: 25px 0;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-size: 70%;
}

#sponsor-page-app section article.sponsor#presenting-sponsor-halekulani {
  background-size: 80%;
}

#sponsor-page-app section #major-sponsor-middle-management {
  background-size: 122%;
}

#sponsor-page-app section article.sponsor#premiere-sponsor-c-and-c-honolulu,
#sponsor-page-app section article.sponsor#festival-sponsor-eighty-eight,
#sponsor-page-app section article.sponsor#festival-sponsor-acm,
#sponsor-page-app section article.sponsor#media-sponsor-simple-dcp,
#sponsor-page-app section article.sponsor#media-sponsor-this-week {
  background-size: 60%;
}

#sponsor-page-app section article.sponsor#festival-sponsor-afaa,
#sponsor-page-app section article.sponsor#community-sponsor-ward {
  background-size: 100%;
}

#sponsor-page-app section article.sponsor#festival-sponsor-creak-hk {
  background-size: 85%;
}

#sponsor-page-app section article.sponsor#media-sponsor-eventual {
  background-size: 60%;
}

#sponsor-page-app section article.sponsor#festival-sponsor-hawaiian-airlines,
#sponsor-page-app section article.sponsor#festival-sponsor-japan-foundation,
#sponsor-page-app section article.sponsor#festival-sponsor-oshima,
#sponsor-page-app section article.sponsor#festival-sponsor-reyka,
#sponsor-page-app section article.sponsor#festival-sponsor-starbucks, {
  background-size: 58%;
}

#sponsor-page-app section article.sponsor#festival-sponsor-vive {
  background-size: 115%;
}

#sponsor-page-app section article.sponsor#premiere-sponsor-pic {
  background-size: 110%;
}

#sponsor-page-app section article.sponsor#festival-sponsor-zippys,
#sponsor-page-app section article.sponsor#honolulu-cookie-company {
  background-size: 90%;
}

#sponsor-page-app section article.sponsor#media-sponsor-kitv {
  background-size: 45%;
}

#sponsor-page-app section article.sponsor#community-sponsor-doris {
  background-size: 95%;
}

#sponsor-page-app section#mahalo ul {
  list-style-type: none;
}

#sponsor-page-app section#mahalo ul li {
  font-size: 18px;
  font-weight: 600;
}


/**/

/* OLD SPONSORS PAGE */
.presenting-sponsor header h3,
.major-sponsors header h3,
.premiere-sponsors header h3,
.festival-sponsors header h3,
.media-sponsors header h3,
.community-sponsors header h3,
.mahalo header h3 {
  padding: 0 10px;
  margin: 0 auto;
  background-color: #FFF;
  position: relative;
}

.presenting-sponsor header h3 {
  width: 203px;
}

.major-sponsors header h3 {
  width: 168px;
}

.premiere-sponsors header h3 {
  width: 199px;
}

.festival-sponsors header h3 {
  width: 182px;
}

.media-sponsors header h3 {
  width: 171px;
}

.community-sponsors header h3 {
  width: 222px;
}

.mahalo header h3 {
  width: 88px;
}

.presenting-sponsor header,
.major-sponsors header,
.premiere-sponsors header,
.festival-sponsors header,
.media-sponsors header,
.community-sponsors header {
  position: relative;
}

.presenting-sponsor header:after,
.major-sponsors header:after,
.premiere-sponsors header:after,
.festival-sponsors header:after,
.media-sponsors header:after,
.community-sponsors header:after,
.mahalo header:after {
  content: '';
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  margin-top: -10px;
  /*position: absolute;*/
  /*top: 25px;*/
  /*z-index: -999;*/
}
.presenting-sponsor ul,
.major-sponsors ul,
.premiere-sponsors ul,
.festival-sponsors ul,
.media-sponsors ul,
.community-sponsors ul,
.mahalo ul {
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 0 0;
  list-style-type: none;
}

.presenting-sponsor ul li,
.major-sponsors ul li,
.premiere-sponsors ul li,
.festival-sponsors ul li,
.media-sponsors ul li,
.community-sponsors ul li,
.mahalo ul li {
  width: 100px;
  margin: 0 auto;
  display: inline;
  padding-left: 20px;
  /*background-color: #000;*/
}

.presenting-sponsor ul {
  width: 27%;
}

.major-sponsors ul {
  width: 54%;
}

.premiere-sponsors ul {
  width: 72%;
}

.premiere-sponsors ul li:last-child {
  /*padding-left: 10px;*/
}

.festival-sponsors ul,
.media-sponsors ul {
  width: 88%;
}

.community-sponsors ul {
  width: 70%;
}

// .sponsor {
//   display: inline-block;
//   width: 130px;
//   height: 150px;
//   /*background-color: #000;*/
//   background-size: contain;
//   background-position: center center;
//   background-repeat: no-repeat;
// }

/* SPONSORS */
/* presenting */
#halekulani {
  width: 200px;
  height: 200px;
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/halekulani.jpg');
}

/* major */
#hawaii-tourism-authority {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/hawaii_tourism_authority.png');
}

#the-modern {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/the-modern.png');
}

#nella-media-group {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/Nella-Media-Group.png');
}

#regal-entertainment-group {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/regal_entertainment_group.png');
}

#starwood {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/starwood.png');
}

/* premiere */
#castle-and-cooke {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/castlecooke.png');
}

#city-and-county-of-honolulu {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/city_and_county_of_honolulu.png');
}

#dbedt {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/DBEDT-Creative-Ind.jpg');
}

#hawaii-film-office {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/hawaii-film-office.png');
}

#klick-comm {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/klick_communications.png');
}

#pic {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/pic.png');
}
#pac {
  background-image: url('http://www.hiff.org/wp-content/uploads/2016/04/imgres.jpg');
}

#vilcek-foundation {
  width: 250px;
  height: 100px;
  /*display: block;*/
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/viltek_foundation.png');
}

/* festival */

#abc {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/abc.png');
}

#academy-for-creative-media {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/acedemy_for_creative_media.png');
}

#asiana-airlines {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/asiana_airlines.png');
}

#bombay {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/bombay_sapphire_east.png');
}

#davis-levin-livingston {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/davis_levin_livingston.png');
}

#eightyeight-tees {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/8842-88-Alii-for-Gavin.png');
}

#first-hawaiian-bank {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/first_hawaiian_bank_foundation.png');
}

#fishcake {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/fishcake.png');
}

#hawaii-council-for-the-humanities {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/hawaii_council_for_the_humanities.png');
}

#hawaii-national-bank {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/hawaii_national_bank.png');
}

#hpu {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/hawaii_pacific_university.png');
}

#hawaiian-airlines {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/HA_Logo_v_4c.jpg');
}

#hong-kong {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/hong_kong_economic_trade_office.png');
}

#honolulu-cookie-company {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/honolulu_cookie_company.png');
}

#hotel-renew {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/hotel_renew.png');
}

#jal {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/japan_airlines.png');
}

#l-and-l {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/LL_Logo.png');
  background-size: 80%;
}

#mr-pink {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/mr_pink.png');
}

#taiwan-roc {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/taiwan_roc.png');
}

#taiwan-academy {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/taiwan_academy.png');
}

#oshima-cpa {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/oshima.png');
}

#shiftboard {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/shiftboard.png');
}

#smart-exchange {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/smartXchange-Logo1-1.png');
}

#starbucks {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/starbucks-new-logo.png');
  background-size: 80%;
}

#the-orchid-company {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/the_orchid_company.png');
}

#uber {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/uber.png');
}

#vip-trans {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/vip_trans.png');
}

#vive-hotel {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/vive_hotel.png');
}

#watamull {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/watamulls.png');
}

#zippys {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/zippys.png');
}
#middle-mgmt{
	background-image: url('http://www.hiff.org/wp-content/uploads/2016/04/middle-management.png');
}
/* media */
#chtv {
  width: 100px;
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/chtv-1.png');
}

#flux-hawaii {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/flux.jpg');
}

#friend-media {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/friend_media-1.png');
}

#green-magazine {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/green_magazine-1.png');
}

#hawaii-film-magazine {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/hawaii_film_and_magazine-1.png');
}

#hawaii-news-now {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/hawaii-news-now-1.png');
}

#kbfd {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/kbfd-1.png');
}

#kitv {
  width: 100px;
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/kitv-1.png');
}

#lei-magazine {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/lei-magazine.jpg');
}

#modern-luxury {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/modern_luxury-1.png');
}

#movie-maker {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/movie_maker-1.png');
}

#ngn {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/ngn-1.png');
}

#oceanic {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/oceanic_time_warner-1.png');
}

#pacific-edge-magazine {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/pacific_edge_magazine-1.png');
}

#this-week {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/this_week_magazine-1.png');
}

#yelp {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/yelp-1.png');
}

#island-985 {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/island_98.5-1.png');
}

#kssk {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/kssk-1.png');
}

#jamz-939 {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/jamz-93.9-1.png');
}

#island-1019 {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/one_101.9-1.png');
}

#korl-1075 {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/korl-1.png');
}

#kphi {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/kphi-1.png');
}


/* community */
#honolulu-museum {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/honolulu_museum_of_art-1.png');
}

#keiki-courtyard {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/keiki-courtyard-cinema_LOGO-1.png');
}

#koko-marina-center {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/koko_marina_center-1.png');
}

#prestige-concierge {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/prestige-1.png');
}

#show-and-tell {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/showtell-logo-1.png');
}

#ward-village {
  background-image: url('http://www.hiff.org/wp-content/gallery/2015_fall/ward_village_courtyard-1.png');
}

.mahalo p {
  padding: 40px 0;
}

.main {
  box-shadow: none;
}

html.no-touch.skin-black a.image-link:hover,
html.skin-black .embed-wrapper:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
}

.subfooter {
  margin: 0;
}

div.menu-wrapper {
  background-color: #222;
  background-image: none;
  border: none;
  box-shadow: none;
  border-radius: 6px 6px 0 0;
}

a.btn.medium.read-more {
    display: block;
    width: 185px;
    margin: 0 auto;
    text-align: center;
}