#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 600;
  text-align: left;
}

.facebox_iframe {
  width:840px;
  height:720px;
}

#facebox .popup{
  position:relative;
  border:0px solid rgba(0,0,0,0);
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
  -webkit-box-shadow:0 0 0 rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 0 rgba(0,0,0,0.4);
  box-shadow:0 0 0 rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;

  background: #fff;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
  margin-top: 32px;
  border-top: 4px solid #093E66;
  padding-top: 17px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .popup_info {
  position:absolute;
  top:4px;
  left:0;
  background-color: #ffffff;
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 739px;
}

#facebox .close{
  position:absolute;
  top:4px;
  right:0;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox a.close{
  background: url('/assets/scripts/facebox/closelabel-white.png') no-repeat right #093E66;
  width: 87px;
  height: 20px;
  margin: 0;
  padding: 0;
  margin-right: 14px;
  text-align: center;
  font-size: 1em;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 20px;
}

#facebox a.close:hover{
  color: #FFFFFF;
  text-decoration: none;
}


#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
  display: block;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #CCC;
  z-index: 599;
}