/* HIFF Spring Showcase 2016 colors
	Main Colors
	#FFBDE6 - 255, 189, 230 (pink)
	#85E4DD - 133, 228, 221	(teal)

	Accent Colors
	#4578B0 - 69, 120, 176	(blue/purple)
	#3D4855 - 61, 72, 85 	(dark blue/gray)

	Text Colors
	#231F20 - 35, 31, 32	(brownish black)
	#FFFFFF - 255, 255, 255 (white)
*/

@import url("reset.css");

/* --- Common to all pages --- */
fieldset { margin: 0 !important; padding:5px !important; border:1px solid #DDD !important; background-color:#f0f0f0; width:702px; min-width:702px; }
fieldset.flexible { margin: 0 !important; padding:5px; border:1px solid #DDD; background-color:#f0f0f0; width:690px; min-width:0; }
label.error { color:red; font-weight:bold; display:block; }
h1.title { color:#111; border-bottom:none; letter-spacing: -0.02em; margin: 5px 0 10px 5px; }
.req { color: red; font-weight:bold; }
.unpublished { background: url("/assets/images/unpublished-preview.png") repeat 0 0 #f2f2f2;  }

/* --- Main Area Wrapper --- */
#main-wrapper { padding: 10px 0 0; background-color:transparent; }
#main { margin: 0 auto; width: 940px; }
#main-wrapper a.active {  color: #000000; text-decoration: none; }
#main-wrapper a.active:link,
#main-wrapper a.active:visited { text-decoration: none; }
#content-wrapper { float: left; position: relative; width:702px; margin-bottom: 20px; }

#sidebar-first { float: right; margin: 0 0 14px 0; width:238px; }
#sidebar-first .title { padding: 0 0 25px 20px; color:#FFFFFF; }
#sidebar-first P { padding:3px 3px 3px 20px; font-size:14px; font-weight:bold; background-color: #f0f0f0; margin:5px 0;
				   border-top: 1px solid #DDD; border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; color:#111; text-shadow:none; }
#sidebar-first P A:link, #sidebar-first P A:visited { color:#111; display:block; text-decoration:none; }
#sidebar-first P A:hover, #sidebar-first P A:active { color:#000000; text-decoration:underline; }
#sidebar-first select.select { margin:0px 0px 0px 40px; width:196px; padding:0.2em; background:none #FFF !important;}
#sidebar-first select.select3 { width:160px; padding:0.2em; background:none #FFF !important;}
#sidebar-first .level2 { display:block; }
#sidebar-first .level2 P { padding:0px 3px 0px 40px; border: none; background-color:#FFFFFF; margin:0; }
#sidebar-first .level2 select.select2 { margin:5px 0px 5px 40px; width:196px; padding:0.2em; background:none #FFF !important; border: 1px solid #CCCCAA; }
#sidebar-first .level3 { display:block; }
#sidebar-first .level3 P { padding:0px 3px 0px 60px; border: none; background-color:#FFFFFF; margin:0; }
#sidebar-first .active { color:#000000; background-color:#FFBDE6; font-weight:bold; }
#sidebar-first .active A:link, #sidebar-first .active A:visited { color:#000000; }
#sidebar-first .active A:hover, #sidebar-first .active A:active { color:#000000; text-decoration:none; }
#sidebar-first A.navigationButton { float:right; width:20px; height:20px; margin:1px 0; }
#sidebar-first P A.shopping-cart { background: url("/assets/images/icons/shopping-cart.png") no-repeat scroll -5px 0 transparent; padding-left: 25px; }

#filmSearch { width:140px; height:34px; padding:0.2em; border: 1px solid #DDD; margin: 0 3px 10px 10px; }
ul.ui-autocomplete li.ui-menu-item { background:none !important; }

.film_list_nav { font-size:12px; padding-left:15px; margin:5px 0; }
.film_list_nav a { color:#288DAA; font-weight:bold; letter-spacing:0.5px;  }

/* --- Film Listing Page --- */
#film_list tbody { border: none; }
#film_list h3 { border-bottom: 1px solid #999999; margin: 5px 0; }
.film_list_image { background-color:#FFF; width:218px; height:auto; border: 1px solid #999; border-radius: 5px; margin-bottom: 5px }
.film_list_image a { text-align:center; display:block; padding: 3px; text-decoration: none; color: #000000 !important; }
.film_list_title { font-weight:bold; font-size:14px; line-height:110%; }
.film_list_title a { font-weight:bold; font-size:18px; line-height:120%; text-decoration: none; color: #000000 !important; }
.film_list_info { font-weight:normal; font-size:11px; }
.film_list_screening { font-weight:normal; font-size:11px; color:#000000; line-height:100%; margin:5px 0; }
.film_list_screening a:link, .film_list_screening a:visited { color:#000000; }
.film_list_screening a:hover, .film_list_screening a:active { color:#000000; }

.film_list_col { width:218px; margin: 3px 6px 12px 6px; }
.film_list_col.full { width:100%; margin: 3px; }
.film_list_col.fullc { width:100%; margin: 3px; text-align: center; }

.film_list_stats_left { width:48%; float:left;  }
.film_list_stats_right { width:48%; float:right; text-align:right; }
.film_list_stats_right a { text-decoration: none; }
[class*="film_list_stats"] { padding: 1em; }
[class*="film_list_stats"] strong { padding: 0 0.375em; }
[class*="film_list_stats"] a { padding: 0 0.375em; }



/* --- Film Detail Page --- */
#film_detail tbody { border: none; }
#film_detail h3 { border-bottom: 1px solid #999999; margin: 12px 0 4px; }
#film_detail a { color: #000000; }
.film_detail_image { background-color:#000000; width:525px; height:300px; }
.film_detail_image a { text-align:center; display:block; }
.film_detail_title { font-weight:bold; font-size:14px; line-height:110%; }
.film_detail_info { width: 99%; font-weight:bold; font-size:12px; margin: 15px 0 0 5px; }
.film_detail_info a { text-decoration: none; }
.film_detail_info p { line-height:110%; margin:0 0 10px 0; font-weight:bold; }
.film_detail_info p span { color: #000000; }
.film_detail_info .col1 { width: 40%; float:left; }
.film_detail_info .col2 { width: 41%; margin-left: 1%; float:left; }
.film_detail_info .col3 { width: 17%; margin-left: 1%; float:left; }
.film_detail_synopsis { width:100%; margin-top:20px; clear:both; /*width:532px;*/ }
.film_detail_sponsors { float:right; width:150px; margin-left:10px; margin-top:0px; text-align: center; }
.film_detail_sponsors p { margin: 0 0 7px; }
.film_detail_sponsors p.sponsor_text { line-height: 110%; margin: 0 0 5px; }
.film_detail_sponsors p.sponsor_text a { text-decoration: none; }
#share_button { text-align:left; padding:0; }
.shorts_title { font-size:12px; }
.related_film { width: 220px; text-align: center; float: left; border: 1px solid #999; padding: 0.2em; margin-right: 8px; background-color:#FFFFFF; }
.related_film a:link, .related_film a:visited { text-decoration:none; }

#featured_films { position:relative; overflow:hidden; width: 677px; height: 381px; margin-bottom: 0; }
div.panes { width:685px; height:389px; padding: 3px; border: 1px solid #999999; border-radius: 5px 5px 5px 0; background-color: #FFFFFF; }
div.panes div.pane01, div.panes div.pane02 { display:none; }
div.panes div.pane02 { background-color: #000000; height:100%; text-align:center;  }
.no_trailer { width:677px; margin:auto; padding:180px 0; color:white; font-weight:bold; text-align:center; }

ul.filmTabs { list-style:none;  margin: -1px 0 0 !important;  padding:0; height:30px; width:685px; }
ul.filmTabs li { float:left; text-indent:0; padding:0; margin:0 3px 0 0; list-style-image:none !important;
				background: none !important; border-radius: 5px 5px 5px 5px; }
#film_detail ul.filmTabs li a { background: url("/assets/images/tabs/tabs.png") no-repeat -420px -1px; font-size:11px; display:block;
				height: 30px; line-height:28px; width: 134px; text-align:center; text-decoration:none; color:#000000;
				padding:0px; margin:0px; position:relative; top:0; }
#film_detail ul.filmTabs li a:active { outline:none; }
#film_detail ul.filmTabs li a:hover { background-position: -420px -32px;	color:#000000 !important; }
#film_detail ul.filmTabs li a.current, ul.filmTabs li a.current:hover, ul.filmTabs li.current a {
				background-position: -420px -63px; cursor:default !important; color:#000000 !important; }
ul.filmTabs a.s 		{ background-position: -553px 0; width:81px; }
ul.filmTabs a.s:hover 	{ background-position: -553px -31px; }
ul.filmTabs a.s.current	{ background-position: -553px -62px; }
ul.filmTabs a.l 		{ background-position: -248px -0px; width:174px; }
ul.filmTabs a.l:hover 	{ background-position: -248px -31px; }
ul.filmTabs a.l.current	{ background-position: -248px -62px; }
ul.filmTabs a.xl		{ background-position: 0 -0px; width:248px; }
ul.filmTabs a.xl:hover	{ background-position: 0 -31px; }
ul.filmTabs a.xl.current { background-position: 0 -62px; }

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices { height: 23px !important; }
.stButton .stHBubble { height: 23px !important; }
div.starrater #unit_long1 p { padding-top:3px; }

#program_wrapper .program_film { width: 330px; padding: 10px; margin: 5px; background-color: rgba(255, 255, 255, 0.5); border-radius: 4px 4px 4px 4px; }
#program_wrapper .program_film img { margin-left: -10px; margin-top: -10px; border-radius: 4px 4px 0 0; }
#program_wrapper .program_film p:last-child { margin: 0; }
#program_wrapper .program_film h4 { line-height: 1.1em; }
#program_wrapper .program_film h4:first-child { margin-top: 0; }

/* --- Schedule Page --- */
#schedule_list tbody { border: none; }
#schedule_list td { padding:3px; }
#schedule_list h3 { border-bottom:1px solid #999999; margin: 5px 0; }
#schedule_list a { color: #000000; }
.schedule_time { font-weight:bold; font-size:15px; }
.schedule_title { font-weight:bold; font-size:15px; text-decoration: none; }
.schedule_week_links { width:700px; }
.schedule_week_links a { display:block; float:left; margin-right:8px; padding:3px; color:#111; background-color:#f0f0f0;
						border:1px solid #DDD; text-decoration: none; }
.schedule_week_links a:hover, .schedule_week_links a:active { text-decoration:none;}
.schedule_week_links a.activeWeek { color:#000 !important; background-color:#FFBDE6; }
.schedule_week_links a.activeWeek:hover, .schedule_week_links a.activeWeek:active { color:#fff; background-color:#000000; }
.schedule_week_view { text-align:right; float:none; margin-bottom:5px; }
.no_top_border { border-top:none !important;}
.no_bottom_border { border-bottom:none !important; }
#sched_list, #sched_grid { vertical-align:text-bottom;}

#content-wrapper .disabled { display:none; }
#content-wrapper .prev { position: absolute; top:86px; left: 45px; z-index:100; width:60px; height:90px;
						background-image: url("/assets/images/icons/arrow.png"); background-position: 120px 0px; }
#content-wrapper .prev:hover { background-position: 0px 0px; }
#content-wrapper .next { position: absolute; top:86px; left: 640px; z-index:100; width:60px; height:90px;
						background-image: url("/assets/images/icons/arrow.png"); background-position: 60px 0px; }
#content-wrapper .next:hover { background-position: 180px 0px; }
.grid_scrollable_time { width:52px; height:1000px; background-color:#f0f0f0; border-top:1px solid #DDD; border-bottom:1px solid #CCCCAA;
						border-left:1px solid #CCCCAA; float:left; }
.grid_scrollable_time table { width:auto; }
.grid_scrollable_time td { padding:0px; height:29px; min-height:29px; width:46px; }
@-moz-document url-prefix() {
	.grid_scrollable_time td { padding:0px; height:30px; min-height:30px; width:46px; }
}

.grid_scrollable { position:relative; overflow:hidden; width:650px; height:1000px; background-color:#f0f0f0; border-top:1px solid #CCCCAA;
					border-bottom:1px solid #CCCCAA; border-right:1px solid #CCCCAA; float:left; cursor:move; }
.grid_scrollable .items { width:1080px; position:absolute; }
.grid_scrollable .items div { float:left; }
#content-wrapper .grid_scrollable a { color: #000000; text-decoration: none }
.grid_scrollable a:hover { text-decoration: underline; }

.grid_scrollable table { width:auto; background-color:#f0f0f0; }
.grid_scrollable tbody { border: none; }
.grid_scrollable tr { padding:0px; }
.grid_scrollable th, .grid_scrollable_time th { border-bottom: 1px solid #999999; text-align:center; padding-right:0; height:39px; min-height:39px; }
.grid_scrollable td { padding:0px; height:29px; min-height:29px; width:108px; }
@-moz-document url-prefix() {
	.grid_scrollable th { padding:0px; height:40px; min-height:40px; }
	.grid_scrollable td { padding:0px; height:30px; min-height:30px; width:108px; }
}
.grid_scrollable td.time, .grid_scrollable_time td.time { text-align:center; width:52px; }
.grid_scrollable td.onhour, .grid_scrollable_time td.onhour { border-bottom: 1px dotted #999999; }
.grid_scrollable td.halfhour, .grid_scrollable_time td.halfhour { border-bottom: 1px solid #999999; }

.floatingFilm { position:absolute; top:20px; left:41px; padding:3px; border:1px solid #DDD; background-color:#FFFFFF; }
.floatingFilm .schedule_grid_title { font-weight:bold; font-size:12px;}
.floatingFilm p { margin:0; }
.floatingFilm p.film_title { margin:0; line-height:120%; }
.floatHeader1 { z-index:1000; }

#filmevent_type { width: 228px; min-width: 228px; height:180px; min-height:180px; margin: 10px !important; color:#000000; }
#filmevent_type .ftl { float:left; width:100%; margin: 0 0 6px 0; }
#filmevent_type .ftr { float:left; width:100%; margin: 0 0 6px 0; }
#filmevent_type .ft_box { border: 1px solid black; border-radius: 6px; width:19px; height:19px; display:inline-block; }
#filmevent_type legend { padding: 0 3px; color:#005B82; font-size:14px; }

/* --- Screening Confirmation Form Page --- */
.PersonnelDialog input.text { margin-bottom:5px; width:135px; padding: .2em; }
.PersonnelDialog select.multiselect { margin-bottom:5px; width:140px; height:175px; padding: .2em; background:none #FFF !important; }
.PersonnelDialog h3 { text-align:center; display:block; padding-bottom:3px;}

/* --- Sections Page --- */
.section_image { background-color:#FFF; width:218px; height:auto; border: 1px solid #999; border-radius: 5px; margin-bottom: 5px }
.section_image a { text-align:center; display:block !important; line-height: 0.8em !important; padding: 3px; text-decoration: none; color: #000000 !important; }
.section_image img { padding-bottom: 3px; }

/* --- What Should I Watch? Page --- */
#wsiw_header select.select { background: none repeat scroll 0 0 #FFFFFF !important; margin: 0; padding: 0.2em; width: 115px; font-size:12px; }
#wsiw_header th { border-bottom: none; }
#wsiw .film { background-color: #FFFFFF; border: 1px solid #CCCCAA; border-radius: 5px 5px 5px 5px; padding: 5px; margin: 0 5px 5px 0; width: 223px; }
#wsiw .film_list_title { margin: 0; }
#wsiw [class*="span"] { float: none; margin: 0 5px 5px 0; }

.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope, .isotope .isotope-item { transition-duration: 0.8s; }
.isotope { transition-property: height, width; }
.isotope .isotope-item { transition-property: transform, opacity; }
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { transition-duration: 0s; }
.isotope.infinite-scrolling { transition: none 0s ease 0s; }

/* Installation Page */
.installTable label { font-weight:bold; color:#000000;}
.installTable label.error { color:red; font-weight:bold; display:block; }
.installTable input.text { margin-bottom:5px; width:195px; padding: .2em; }
.installTable input.text-small { margin-bottom:5px; width:125px; padding: .2em; }
.installTable select { margin-bottom:5px; width:132px; padding: .2em; }
.installTable select.select-large { margin-bottom:5px; width:207px; padding: .2em; }

/* Admin Bar for Logged In Users */
#fpadminbar { background: linear-gradient(to top, #E7840D 0px, #F7941D 5px) repeat scroll 0 0 #F7941D; color: #CCCCCC; direction: ltr;
			font: 13px/28px sans-serif; height: 28px; left: 0; min-width: 600px; position: fixed; top: 0; width: 100%; z-index: 99999; }
#fpadminbar * { -moz-box-sizing: content-box; color: #CCCCCC; font: 13px/28px sans-serif; height: auto; letter-spacing: normal;
				margin: 0; padding: 0; position: static; text-shadow: 0 -1px 0 #444444; text-transform: none; width: auto; }
#fpadminbar ul, #fpadminbar ul li { background: none repeat scroll 0 center transparent; clear: none; list-style: none outside none;
									margin: 0; padding: 0; position: relative; text-indent: 0; z-index: 99999; }
#fpadminbar > ul > li { border-right: 1px solid #555555; float: left; }
#fpadminbar > ul > li.festpro { background: none repeat scroll 0 0 #FFFFFF; }
#fpadminbar > ul > li > a { border-right: 1px solid #333333; }
#fpadminbar a { display: block; height: 28px; margin: 0; padding: 0 12px; }
#fpadminbar a:link, #fpadminbar a:visited { color: #ffffff; }
#fpadminbar a:hover, #fpadminbar a:active { color: #F7941D; }
#fpadminbar a, #fpadminbar a:hover, #fpadminbar a img, #fpadminbar a img:hover { background: none repeat scroll 0 center transparent;
																				border: 0 none; outline: 0 none; text-decoration: none; }
#fpadminbar li:hover { background: linear-gradient(to top, #E7840D 0px, #000000 5px) repeat scroll 0 0 #000000; }


/* Fall 2015 customizations */
#social-links { background-color: rgba(0, 0, 0, 0.8); padding: 0px 0 1px; }
#social-links header h1 { text-align: center; margin: 0 }
#social-links header h1 span { font-weight: 800; }
#social-links ul { list-style-type: none; width: 260px; margin-right: auto; margin-left: auto; padding-left: 10px; }
#social-links ul li { display: inline; float: left; margin-right: 10px }