@import url("reset.css");

/* --- Main Area Wrapper --- */
#main-wrapper { padding: 10px 0 0; background-color:transparent; }
#main, .main { margin: 0 auto; width: 100%; }
#main-wrapper a.active {  color: #000000; text-decoration: none; }
#main-wrapper a.active:link,
#main-wrapper a.active:visited { text-decoration: none; }
#content-wrapper { width:100%; position: relative; }
#sidebar-first { display: none; }

/* --- HIFF Theme style overrides --- */
header, nav, .header-bg, #mobile-menu-wrapper, #topmenu, .menu-wrapper-upper, .searchform input
.uppermenu, .uppersearch, .mobile-uppersearch, .searchtext, .searchsubmit { display:none; }

/* --- Common to all pages --- */
fieldset { margin: 0 !important; padding:5px !important; border:1px solid #DDD !important; background-color:#f0f0f0; width:100%; min-height:0; min-width:100%; }
fieldset.flexible { margin: 0 !important; padding:5px; border:1px solid #DDD; background-color:#f0f0f0; width:100%; min-height:0; min-width:0; }

/* --- Film Listing Page --- */
#film_list { width: 100%; height: auto; }
.film_list_col { width:218px; margin: 0px; }
