/* --- Reset Margins and Padding --- */
html, body, div, span, p, blockquote, pre, code, ul, ol, li, h1, h2, h3, h4, h5, h6,
form, fieldset, legend, label, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; }
img { border: 0; }

/* --- Typography --- */
body {
  font-family: Trebuchet MS, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 75%;    /* 12px */
  font-weight: normal;
  line-height: 160%;    /* 19.2px */
}
h1 { font-size: 2.5em; font-weight: normal; }
h2 { font-size: 1.75em; font-weight: normal; }
h3 { font-size: 1.25em; font-weight: bold; }
h4 { font-size: 1.1em; font-weight: bold; }
h5 { font-size: 1em; font-weight: bold; }
h6 { font-size: 0.8em; font-weight: bold; }

/* --- Default Links --- */
a { color: #54B3DF; margin: 0; padding: 0; text-decoration: none; }
a:link, a:visited { color: #54B3DF; }
a:hover,a:active { color: #54B3DF; }

/* --- Layout --- */
html { background: #FFFFFF; color: #28271E; }
#page { margin: 0; width: 100%; background-color: #F9EDD5; }
p { font-size: 1em; font-weight: normal; line-height: 160%; margin: 10px 0; }

/* --- Tables --- */
table { border-collapse: collapse; margin: 0 0 10px; width: 100%; }
th { text-align: left; padding-right: 1em; border-bottom: 3px solid #CCCCCC; }
tr { padding: 0.1em 0.6em; }
td { padding: 3px; }
tr.even td { background-color: #E3ECC0; border-bottom: 1px solid #CCCCCC; }
tr.odd td { background-color: #FDFFEF; border-bottom: 1px solid #CCCCCC; }
tbody { border-top: 1px solid #CCCCCC; }
tbody th { border-bottom: 1px solid #CCCCCC; }
thead th { text-align: left; padding-right: 1em; border-bottom: 3px solid #CCCCCC; }