/* --- Print Stylesheet Overrides --- */
#addDeleteScreening { display:none; }

.date_container { padding-top:10px; }
.h { display: none;}
.information { padding:5px 0 0 5px; margin:0; }
.venue_format_box { display: none;}
.page-break { display:block; page-break-before:always; }