/* --- Reset Margins and Padding --- */
html, body, div, span, p, blockquote, pre, code, ul, ol, li, h1, h2, h3, h4, h5, h6,
form, fieldset, legend, label, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; }
img { border: 0; }

/* --- Clearfix --- */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* --- Typography --- */
body {
  background: #FFF; font-family: Trebuchet MS, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 75%;    /* 12px */
  font-weight: normal;
  line-height: 160%;    /* 19.2px */
}
h1 { font-size: 2.5em; font-weight: normal; }
h2 { font-size: 1.75em; font-weight: normal; }
h3 { font-size: 1.25em; font-weight: bold; }
h4 { font-size: 1.1em; font-weight: bold; }
h5 { font-size: 1em; font-weight: bold; }
h6 { font-size: 0.8em; font-weight: bold; }

/* --- Default Links --- */
a { color: #333333; margin: 0; padding: 0; text-decoration: none; }
a:link, a:visited { color: #333333; }
a:hover,a:active { text-decoration: underline; }

/* --- Layout --- */
html { background: #FFF; color: #666; }
#page { margin: 0; width: 100%; background-color: #FFF; }
p { font-size: 1em; font-weight: normal; line-height: 160%; margin: 10px 0; }

/* --- Tables --- */
table { border-collapse: collapse; margin: 0 0 10px; width: 100%; }
th { text-align: left; padding-right: 1em; border-bottom: 3px solid #CCC; }
tr { padding: 0.1em 0.6em; }
td { padding: 3px; }
tr.even td { background-color: #E3ECC0; border-bottom: 1px solid #CCC; }
tr.odd td { background-color: #FDFFEF; border-bottom: 1px solid #CCC; }
tbody { border-top: 1px solid #CCC; }
tbody th { border-bottom: 1px solid #CCC; }
thead th { text-align: left; padding-right: 1em; border-bottom: 3px solid #CCC; }

/* --- Main Area Wrapper --- */
#main-wrapper { padding-left: 0; background-color:#FFF; }
#main { margin: 0 auto; width: 1060px; }
#main-wrapper a.active {  color: #000; text-decoration: none; }
#main-wrapper a.active:link,
#main-wrapper a.active:visited { text-decoration: none; }
#content-wrapper { float: left; }
#sidebar-first { float: right; }

/* --- Footer Region --- */
#footer { clear: both; display: block; font-size: 0.9em; margin: auto 0; overflow: hidden;
		  padding: 10px 0; text-align: center; width: 1060px; }
#footer a { color: #F7941D; }
#footer ul { display: inline; margin: 0; padding: 0 9px 0 9px; }
#footer ul li { background: transparent none repeat; border-left: 1px solid #CCC; display: inline; padding: 0 5px 0 9px; }
#footer ul li.first { border: none; }

/* --- jQuery UI Overrides --- */
.ui-tabs { background: none repeat-x scroll 50% top #FFF; }
.ui-tabs-panel { padding:5px !important; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
div.smaller-tabs .ui-tabs-nav li a { padding: 0.5em; }


/* --- Common to all pages --- */
fieldset { margin: 0; padding:5px; border:1px solid #666; background-color:#EEE; }
.field-half { width: 503px; margin: 0 3px 10px; background-color: #EEEEEE; border: 1px solid #666666; padding: 5px; }

label { font-weight:bold; color:#000;}
label.error { color:red; font-weight:bold; display:block; }
h2 { text-align:center;}
.clickable { cursor: pointer; }
.req { color: red; font-weight:bold; }
.calendar-icon { float:left; height:16px; width:16px; margin-right:4px; background-image:url("/assets/images/icons/calendar_view_day.png");}
.package-icon { float:left; height:16px; width:16px; margin-right:4px; background-image:url("/assets/images/icons/package_link.png");}
#main { position:relative; }
#ajaxFeedback { position:absolute; left:50%; top:0px; color:#000; background-color:#F2EA1D; padding:10px; border:1px solid #999; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; display:none; z-index:101; }

.icon_cross { height:16px; width:16px; background:url("/assets/images/icons/cross.png") no-repeat scroll center 6px transparent; }
.icon_tick { height:16px; width:16px; background:url("/assets/images/icons/tick.png") no-repeat scroll center 6px transparent; }
.icon_ticross { height:16px; width:16px; background:url("/assets/images/icons/ticross.png") no-repeat scroll center 6px transparent; }
a.icon_cross, a.icon_tick { display: inline-block; height: 20px; background-position: center 3px; }
a.icon_pdf { height: 16px; width: 16px; background:url("/assets/images/icons/pdf_icon.png") no-repeat scroll center 0 transparent; display:inline-block; margin-top:5px; }
a.icon_pdf2 { height: 16px; width: 16px; background:url("/assets/images/icons/pdf_icon2.png") no-repeat scroll center 0 transparent; display:inline-block; margin-top:5px; }

#festival_nav { width:100%; margin-top:10px; margin-bottom:10px; }
#festival_nav .nav_topbar { float:left; padding:0 5px 3px 0; font-size:14px; color:#000; width:100%; }
#festival_nav .nav_topbar a:link,
#festival_nav .nav_topbar a:visited { float:left; padding:0 5px 3px 5px; font-size:14px; color:#000; text-align:right; }
#festival_nav .nav_topbar a:hover,
#festival_nav .nav_topbar a:active { color:#F7941D; text-decoration:none;  }
#festival_nav .nav_topbar a.bold { font-weight:bold; color:#000; }
#festival_nav .nav_topbar a.bold:hover,
#festival_nav .nav_topbar a.bold:active { color:#F7941D; text-decoration:none;  }
#festival_nav .nav_topbar2 { float:left; padding:0 0 8px; font-size:14px; color:#000; text-align:right; width:100%; }

#festival_nav .nav_header,
#festival_nav .nav_header_active { border:1px solid #000; border-bottom:none; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;
									float:left; margin: 10px 10px 0 0; font-weight:bold; font-size:14px; }
#festival_nav .nav_header a:link, #festival_nav .nav_header a:visited {
	color:#000; background-color:#CCC; text-decoration:none; display:block; padding:0 5px 4px 5px;
	-moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
#festival_nav .nav_header a:hover, #festival_nav .nav_header a:active { color:#F7941D; background-color:#CCC; text-decoration:none; }
#festival_nav .nav_header_active a:link, #festival_nav .nav_header_active a:visited {
	color:#FFF; background-color:#000; text-decoration:none; display:block; padding:0 5px 4px 5px;
	-moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
#festival_nav .nav_header_active a:hover, #festival_nav .nav_header_active a:active { color:#CCC; background-color:#000; text-decoration:none; }

#festival_nav .nav_header2 { float:left; padding:0 5px 0 10px; margin: 10px 10px 0 0; font-weight:bold; font-size:14px; height:20px; color:#000; background-color:#FFF; }
#festival_nav .nav_header2 span { vertical-align:top; }
#festival_nav .nav_subheader { border:1px solid #000; -moz-border-radius: 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
							   padding:3px 5px; font-size:14px; color:#000; background-color:#F7941D; }
#festival_nav .nav_subheader a:link,
#festival_nav .nav_subheader a:visited { color:#FFF; text-decoration:none; margin-right:18px; float: left;  }
#festival_nav .nav_subheader a:hover,
#festival_nav .nav_subheader a:active { color:#000; text-decoration:none;  }
#festival_nav .nav_subheader a.bold { font-weight:bold; color:#000; }
#festival_nav .nav_subheader span { color:#FFF; margin-right:18px;  }

#festival_nav #filmSearchForm,
#festival_nav #guestSearchForm { width: 300px; height: 1.3em; float:right; }
#festival_nav #filmSearch,
#festival_nav #guestSearch { border: 1px solid rgb(102, 102, 102); font-size: 0.9em; padding: 0.1em; width:200px; }
#festival_nav #filmSearchButton,
#festival_nav #guestSearchButton { font-size: 0.8em; padding: 0; margin:0; }
#festival_nav #filmSearchButton span.ui-button-text,
#festival_nav #guestSearchButton span.ui-button-text { padding: 0.2em 0.5em; }

#festival_nav #changeFest { float:right; padding: 0 0 7px; }
#festival_nav #changeFestival { border: 1px solid rgb(102, 102, 102); font-size: 0.9em; padding: 0.25em; width:203px; }
#festival_nav #changeButton { font-size: 0.9em; }
#festival_nav #changeButton span.ui-button-text { padding: 0.2em 0.5em; }
#festival_nav .select { padding: 0.2em; }


/* --- Film Listing Page --- */
#film_listing_table { width:100%; border:0px solid black; margin:2px 0; }
#film_listing_table a:link, #film_listing_table a:visited { color: #F7941D; text-decoration: none; }
#film_listing_table a:hover, #film_listing_table a:active { text-decoration: underline; }
#film_listing_table tbody { border-top: 0 solid black; }
#film_listing_table th { border-bottom: 1px solid black; padding-right:0; background-color:#FFF; height:25px; }
#film_listing_table tr.oddrow { background-color:#EEE; color:#000; }
#film_listing_table tr.evenrow { background-color:#FFF; color:#000; }
#film_listing_table td.cent { text-align:center; }
#film_listing_table td.media { font-weight:bold; font-size:16px; }
#film_listing_table .lborder { border-left:1px solid black; }
#film_listing_table .button { padding:0.2em; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
							  border:1px solid #666; background-color:#FFF; text-align:center; }
#film_listing_table .button a { color: #1C94C4; display:block; font-weight:bold; text-decoration:none; }
#film_listing_table .button:hover { background-color: #FDF5CE; border: 1px solid #FBCB09; }
#film_listing_table .button:hover a { color: #C77405;  }

#dialog-form .error { color:#FF0000; }
#dialog-form input.text { margin-bottom:5px; width:230px; padding: 0.2em; }
#dialog-form select.select { margin-bottom:5px; width:245px; padding: 0.2em; background:none #FFF !important; }

button#add-film { margin-bottom:8px; float:left; }
button#add-film2 { margin-top: 8px; }
button#publish-all { margin-bottom: 8px; margin-right:5px; float:right; }
button#unpublish-all { margin-bottom: 8px; float:right; }
#pdfPhoto-dialog a {  display: block; padding: 3px; text-decoration: none; background-color: #FFFFFF; border: 1px solid #999999; border-radius: 5px 5px 5px 5px; margin: 0 5px 5px 0; float: left; height: 120px; }
.hiddenphoto { display: none; }

/* --- Edit a Film Page --- */
button#addCountry, button#addLanguage, button#addGenre, button#addPersonnel,
button#addInShipment, button#addOutShipment { margin-top: 8px;}
#Delete { padding: 0.2em; }

#topFilmEdit { margin:0;}
#topFilmEdit input.text { margin-bottom:5px; width:260px; padding: 0.2em; }
#topFilmEdit select.select { margin-bottom:5px; width:245px; padding: 0.2em; background:none #FFF !important; }
#topFilmEdit a:link, #topFilmEdit a:visited { color: #F7941D; }

#topFilmSettings { margin:0; }
#topFilmSettings thead th { border-bottom: none; padding-right:0; text-align:center;}

.PersonnelDialog input.text { margin-bottom:5px; width:135px; padding: 0.2em; }
.PersonnelDialog select.multiselect { margin-bottom:5px; width:140px; height:250px; padding: 0.2em; background:none #FFF !important; }
.PersonnelDialog h3 { text-align:center; display:block; padding-bottom:3px;}

.PhotoDialog input.text-upload { margin-bottom:5px; width:300px; padding: 0.2em; }
.PhotoDialog h3 { text-align:center; display:block; padding-bottom:3px;}
.VideoDialog input.text { margin-bottom:5px; width:470px; padding: 0.2em; }
.VideoDialog h3 { text-align:center; display:block; padding-bottom:3px;}

.ScreeningDialog input.text { margin-bottom:5px; width:250px; padding: 0.2em; }
.ScreeningDialog input.text-small { margin-bottom:5px; width:115px; padding: 0.2em; }
.ScreeningDialog input.text-smaller { margin-bottom:5px; width:50px; padding: 0.2em; }
.ScreeningDialog select.select { margin-bottom:5px; width:257px; padding: 0.2em; background:none #FFF !important; }
.ScreeningDialog select.select-small,
.ScreeningDialog select.select-film,
.ScreeningDialog select.select-film2 { margin-bottom:5px; width:220px; padding: 0.2em; background:none #FFF !important; }
.ScreeningDialog h3 { text-align:center; display:block; padding-bottom:3px;}
.ScreeningDialog a { color:#F7941D; }
.ScreeningDialog #scrn-runtime-1,
.ScreeningDialog #scrn-runtime-1-update { float:left; font-weight:bold; }
.ScreeningDialog #scrn-runtime-2,
.ScreeningDialog #scrn-runtime-2-update { float:right; font-weight:bold; }
.addScreeningBreakdown { border-bottom:1px solid #999; }
.addScreeningBreakdown .time-int,
.addScreeningBreakdown .time-int2 { text-align:center; }

.PrintTrafficTab tr.oddrow { background-color:#FFF; color:#000; border-left: 1px solid #999; border-right: 1px solid #999; }
.PrintTrafficTab tr.oddrow2 { background-color:#FFF; color:#000; border-left: 1px solid #999; border-right: 1px solid #999; border-bottom:1px solid #999; }
.PrintTrafficTab tr.evenrow { background-color:#EEE; color:#000; border-left: 1px solid #999; border-right: 1px solid #999; }
.PrintTrafficTab tr.evenrow2 { background-color:#EEE; color:#000; border-left: 1px solid #999; border-right: 1px solid #999; border-bottom:1px solid #999; }

#addPrintTraffic-dialog .ptAddDialog input.text { margin-bottom:5px; width:170px; padding: 0.2em; }
#addPrintTraffic-dialog .ptAddDialog input.text-small { margin-bottom:5px; width:120px; padding: 0.2em; }
#addPrintTraffic-dialog .ptAddDialog select.select { margin-bottom:5px; width:180px; padding: 0.2em; background:none #FFF !important; }

#editPrintTraffic-dialog .ptEditDialog input.text { margin-bottom:5px; width:170px; padding: 0.2em; }
#editPrintTraffic-dialog .ptEditDialog input.text-small { margin-bottom:5px; width:120px; padding: 0.2em; }
#editPrintTraffic-dialog .ptEditDialog select.select { margin-bottom:5px; width:180px; padding: 0.2em; background:none #FFF !important; }

.FilmEventTab { margin:0; padding:2px;}
.FilmEventTab label.centered_title { text-align:center; font-size:1.125em; display:block; padding-bottom:3px;}
.FilmEventTab input.text { margin-bottom:5px; width:132px; padding: 0.2em; }
.FilmEventTab input.text-small { margin-bottom:5px; width:50px; padding: 0.2em; }
.FilmEventTab input.text-large { margin-bottom:5px; width:310px; padding: 0.2em; }
.FilmEventTab select.select { margin-bottom:5px; padding: 0.2em; background:none #FFF !important; width:140px; }
.FilmEventTab select.select-small { margin-bottom:5px; padding: 0.2em; background:none #FFF !important; width:60px; }
.FilmEventTab select.select-large { margin-bottom:5px; padding: 0.2em; background:none #FFF !important; width:457px; }
.FilmEventTab select.select-sponsor { margin-bottom:5px; padding: 0.2em; background:none #FFF !important; width:367px; }
.FilmEventTab h3 { text-align:center; display:block; padding-bottom:3px;}
.FilmEventTab textarea { max-width: 93%; }
#myhiff_1, #myhiff_2, #myhiff_3, #myhiff_4 { width:225px; margin-bottom:10px; }
#add_personnel_here { display:none; }
#sponsorLogoImage { border: 1px solid #000; }
.sponsorLogoFileField { display:none; }

.MultimediaTab h3 { text-align:center; display:block; padding-bottom:3px;}
#photo_container { border:1px solid #999; padding:0.5em; background-color:#DDDDDD; width:1010px; height:190px; position:relative; overflow:auto; }
#photo_sortable { list-style-type: none; margin: 0; padding: 0; clear:both; position:absolute; width:300em; }
#photo_sortable LI { margin: 3px; padding: 0.4em 0.4em 0 0.4em; display:inline-block; cursor:move; }
#photo_sortable a { cursor:move; }
#photo-crop-preview { background-color:#DDDDDD; border:1px solid #999; min-width:320px; height:auto; width:auto; padding:0.5em; text-align:center; vertical-align:middle; }

#video_container { border:1px solid #999; padding:0.5em; background-color:#DDDDDD; width:1010px; height:370px; position:relative; overflow:auto; }
#video_sortable { list-style-type: none; margin: 0; padding: 0; clear:both; position:absolute; width:300em; }
#video_sortable LI { margin: 3px; padding: 0.4em 0.4em 0 0.4em; display:inline-block; cursor:move; }
#video_sortable a { cursor:move;}

.SynopsisTab input.text { margin-bottom:5px; padding: 0.2em; }
.SynopsisTab input.text-small { margin-bottom:5px; width:50px; padding: 0.2em; }

.ScreeningsTab .lighter-text { color:#666; }

.PrintTrafficTab input.text { margin-bottom:5px; width:140px; padding: 0.2em; }
.PrintTrafficTab input.text-small { margin-bottom:5px; width:90px; padding: 0.2em; }
.PrintTrafficTab select.select { margin-bottom:3px; padding: 0.2em; background:none #FFF !important; }
.PrintTrafficTab h3 { text-align:center; display:block; padding-bottom:3px; }
.PrintTrafficTab label { font-weight:bold; }
.PrintTrafficTab .Inbound { margin-top:10px; border:1px solid #999; background-color:#99ff99; }
.PrintTrafficTab .Outbound { margin-top:10px; border:1px solid #999; background-color:#ff9999; }

.PressTab input.text { margin-bottom:5px; width:220px; padding: 0.2em; }
.PressTab input.text-wide { margin-bottom:5px; width:440px; padding: 0.2em; }
.PressTab select.select { margin-bottom:5px; padding: 0.2em; background:none #FFF !important; }
.PressTab h3 { text-align:center; display:block; padding-bottom:3px;}


/* --- Print Traffic Page --- */
#add-shipment-leg1 { margin-bottom:10px; }
#add-shipment-leg2 { margin-top:10px; }

.ptAddDialog input.text { margin-bottom:5px; width:170px; padding: 0.2em; }
.ptAddDialog input.text-small { margin-bottom:5px; width:100px; padding: 0.2em; }
.ptAddDialog select.select { margin-bottom:5px; width:170px; padding: 0.2em; background:none #FFF !important; }

.FilmShippingHeader,
.FilmReceivingHeader { background-color:#EEE; margin:0; width:1031px !important; }
.FilmShippingHeader thead th,
.FilmReceivingHeader thead th { border-bottom:none; }
.FilmShippingHeader label,
.FilmReceivingHeader label { font-weight:bold; }
.FilmShippingHeader .button,
.FilmReceivingHeader .button { -moz-border-radius:5px 5px 5px 5px; -webkit-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px; background-color:#FFF; border:1px solid #666; padding:0.4em; text-align:center; margin-bottom:0.4em; }

 .FilmShippingTab,
.FilmReceivingTab { margin:0; }

 .FilmShippingTab button,
.FilmReceivingTab button { margin-bottom:5px; }
 .FilmShippingTab tbody,
.FilmReceivingTab tbody { border-top: 0 solid black; }

 .FilmShippingTab input.text,
.FilmReceivingTab input.text { margin-bottom:5px; width:125px; padding: 0.2em; }
 .FilmShippingTab input.text-small,
.FilmReceivingTab input.text-small { margin-bottom:5px; width:50px; padding: 0.2em; }
 .FilmShippingTab select.select,
.FilmReceivingTab select.select { margin-bottom:5px; padding: 0.2em; background:none #FFF !important; }

 .FilmShippingTab tr.oddrow,
.FilmReceivingTab tr.oddrow { background-color:#FFF; color:#000; border-top: 1px solid #999; }
 .FilmShippingTab tr.oddrow2,
.FilmReceivingTab tr.oddrow2 { background-color:#FFF; color:#000; }

 .FilmShippingTab tr.evenrow,
.FilmReceivingTab tr.evenrow { background-color:#EEE; color:#000; border-top: 1px solid #999; }
 .FilmShippingTab tr.evenrow2,
.FilmReceivingTab tr.evenrow2 { background-color:#EEE; color:#000; }

 .FilmShippingTab tr.oddrow-shipped   { background-color:#9EF255; color:#000; border-top: 1px solid #999; }
 .FilmShippingTab tr.oddrow2-shipped  { background-color:#9EF255; color:#000; }
.FilmReceivingTab tr.oddrow-received  { background-color:#9EF255; color:#000; border-top: 1px solid #999; }
.FilmReceivingTab tr.oddrow2-received { background-color:#9EF255; color:#000; }

 .FilmShippingTab tr.evenrow-shipped   { background-color:#8EE245; color:#000; border-top: 1px solid #999; }
 .FilmShippingTab tr.evenrow2-shipped  { background-color:#8EE245; color:#000; }
.FilmReceivingTab tr.evenrow-received  { background-color:#8EE245; color:#000; border-top: 1px solid #999; }
.FilmReceivingTab tr.evenrow2-received { background-color:#8EE245; color:#000; }


/* --- Film Review Page --- */
.hidden { display:none; font-size: 0.9em; color:#000; }
#film_name, #email_guest_name, #email_guest_status { color:#000; font-weight:bold; }

.ImportDialog input.text { margin-bottom:5px; width:270px; padding: 0.2em; }
.ImportDialog select.select { margin-bottom:5px; width:260px; padding: 0.2em; background:none #FFF !important; }
.ImportDialog input.text-large { margin-bottom:5px; width:557px; padding: 0.2em; }
.ImportDialog textarea.text { margin-bottom:5px; width:557px; height:100px; padding: 0.2em; }
.ImportDialog h3 { text-align:center; display:block; padding-bottom:3px;}
.ImportDialog a { color:#F7941D; }

.FilmDataReviewTab { margin:0; width:100%; margin:2px 0; }
.FilmDataReviewTab thead th { border-bottom: 1px solid black; background-color:#FFF; }
.FilmDataReviewTab button { margin-bottom:5px; }
.FilmDataReviewTab tbody { border-top: 0 solid black; }
.FilmDataReviewTab th { border-bottom: 1px solid black; padding-right:0; }
.FilmDataReviewTab tr.oddrow { background-color:#EEE; color:#000; }
.FilmDataReviewTab tr.evenrow { background-color:#FFF; color:#000; }
.FilmDataReviewTab tr.oddrow-imported { background-color:#FFFFBB; color:#FF0000; }
.FilmDataReviewTab tr.evenrow-imported { background-color:#EEEEAA; color:#FF0000; }
.FilmDataReviewTab .row_title { background-color:#CCC; }
.FilmDataReviewTab td { vertical-align:top }


/* --- Grid Schedule Page --- */
#videoFormat { float:left; }
#addScreening { float:right; }

#schedule_header { z-index:1;}
#schedule_header td, #schedule_headerFloatHeaderClone td { padding: 0; }
#schedule_header td.header { padding: 0; border-bottom:1px solid black; }
#schedule_header .header div,
#schedule_headerFloatHeaderClone .header div { padding: 0; width:30px; text-align:center; font-family:"Arial Narrow", Helvetica, sans-serif; background-color:#FFF; color:#000; float:left; font-weight:bold }
#schedule_header .date_container.empty { display: none; }
#schedule_header .location_row.empty { display: none; }


.page-break { display:none; }
.date_container { border-bottom:2px solid black; border-left: 1px solid black; line-height:110%; background-color:#EEE; }
.daily_date { width:35px; text-align:center; float:left; position:relative; left:-35px; }
.vc_date { width:40px; height:79px; text-align:center; float:left; font-family:"Arial Narrow", Helvetica, sans-serif; font-size:20px; border-bottom: 1px solid black; font-weight:bold; line-height:1.1em; }
.vc_name { width:58px; height:79px; text-align:left; float:left; font-family:"Arial Narrow", Helvetica, sans-serif; font-size:14px; border-bottom: 1px solid black; font-weight:bold;  line-height:1.25em; }
.vc_1 { width:14px; height:79px; border-left: 1px solid black; border-bottom: 1px solid black; float:left; }
.vc_2 { width:15px; height:79px; border-bottom: 1px solid black; float:left; }
.vc_3 { width:14px; height:79px; border-left: 1px dashed black; border-bottom: 1px solid black; float:left; }
.vc_4 { width:15px; height:79px; border-bottom: 1px solid black; float:left; }
.last_cell { border-right: 1px solid black; }
.vc.ui-droppable-hover { background-color: #F7941D; }

#videoFormat-legend { margin: 10px 0; padding:5px; border:1px solid #666; background-color:#EEE; }
#videoFormat-legend .venue_format_box, .date_container .venue_format_box { width: 14px; height:14px; border:1px solid black; float:left; margin-right:3px; margin-top:3px;}
#videoFormat-legend .legend-entry { margin-right:15px; float:left;}
#videoFormat-legend .legend-entry span { line-height:12px; font-size:12px; vertical-align:middle;}

#screening-new { z-index:2000;}

div.floating { position:absolute; float:left; height:78px; border:1px solid black; color:#000; background-color:#FFF; font-family:"Arial Narrow", Helvetica, sans-serif; font-size:12px; z-index:100; }
.h { float:left; width:15px; height:78px; background-color:#CCC; background-image:url('/assets/images/drag-handle.gif'); background-repeat:repeat-y; cursor:move;}
.qa { float:right; margin-top:58px; width:20px; height:20px; background-color:transparent; background-image:url('/assets/images/icons/qa.png'); background-repeat:no-repeat; position:absolute; right:0 }
.qa2 { float:right; padding:0 5px 0 0; }
.in { float:right; width:20px; height:10px; margin-top:68px; margin-right:40px; background-color:transparent; background-image:url('/assets/images/icons/in.png'); background-repeat:no-repeat; position:absolute; right:0; }
.out { float:right; width:20px; height:10px; margin-top:68px; margin-right:20px; background-color:transparent; background-image:url('/assets/images/icons/out.png'); background-repeat:no-repeat; position:absolute; right:0; }

div.private { color:#FFF !important; background-color:#000 !important; }
div.private a { color:#DDD !important; }
div.interlock { height:158px; }
div.interlock .h { height:158px; }
div.interlock .qa { margin-top:138px; }
div.interlock .in { margin-top:148px; }
div.interlock .out { margin-top:148px; }
div.unpublished { background: url("jquery-ui-theme/images/ui-bg_highlight-soft_75_ffe45c_1x100.png") repeat scroll 50% top #FFE45C; }
div.unpublished.private { background: url("jquery-ui-theme/images/ui-bg_highlight-soft_75_5c5c5c_1x100.png") repeat scroll 50% top #FFE45C; color: #000 !important; }
div.unpublished.private a { color:#000 !important; }
.information { padding:0 0 0 20px; margin:0; line-height: 14px; letter-spacing: -0.02em; }
.information:nth-child(2) { margin: 3px 0 0 0; }
.location_row { width:1059px; position:relative; }

.floatHeader1, .floatHeader2 { z-index:1000; }
.floatHeader1 table, .floatHeader2 table { background-color: #FFFFFF; }

#addDeleteScreening { position:fixed; right:15px; top:19px; width:60px; height:175px; border:1px solid black; text-align:center; background-color:#FFF; z-index:95; padding-top:10px; padding-bottom:10px; }
#addScreeningIcon, deleteScreeningIcon { display: block; margin-bottom:10px; }
#expandCollapse { width: 48px; height: 48px; display: block; margin: 10px 6px; }
.expand { background: url("../../images/icons/empty_collapsed.png") no-repeat scroll 0 0 transparent; }
.collapse { background: url("../../images/icons/empty_expanded.png") no-repeat scroll 0 0 transparent; }

/* --- List Schedule Page --- */
#schedule_list { width:100%; border:0px solid black; margin:2px 0; }
#schedule_list tbody { border-top: 0 solid black; }
#schedule_list th { border-bottom: 1px solid black; padding-right:0; background-color:#FFF; height:25px; }
#schedule_list tr { color:#000; }
#schedule_list tr.oddrow { background-color:#EEE; color:#000; }
#schedule_list tr.evenrow { background-color:#FFF; color:#000; }
#schedule_list td.cent { text-align:center; }
a.schedule_title { color: #F7941D; text-decoration: underline; }
#filter-location { margin:.3em 0; padding: 0.2em; background:none #FFF !important; }

#screening-legend { float:left; padding: 10px 12px; }
#screening-legend .venue_format_box { width: 14px; height:14px; border:1px solid black; float:left; margin-right:3px; margin-top:3px;}
#screening-legend .legend-entry { margin-right:15px; float:left;}
#screening-legend .legend-entry span { line-height:12px; font-size:12px; vertical-align:middle;}

button#add-screening { margin-bottom: 8px; float:left; }
button#add-screening2 { margin-top: 8px; }
.shorts_title { font-size:10px; }

/* --- Film Settings Page --- */
.FilmDetailsTab input.text { margin-bottom:5px; width:200px; padding: 0.2em; }
.FilmDetailsTab input.text-small { margin-bottom:5px; width:50px; padding: 0.2em; }
.FilmDetailsTab select.select, .FilmDetailsTab select.select-video { margin:.3em 0; padding: 0.2em; width:207px; background:none #FFF !important; }

.SectionsTab input.text { margin-bottom:5px; width:200px; padding: 0.2em; }
.SectionsTab input.text-small { margin-bottom:5px; width:50px; padding: 0.2em; }
.SectionsTab select.select,
.SectionsTab select.select-section { margin-bottom:5px; padding: 0.2em; width:215px; background:none #FFF !important; }
.SectionsTab select.select-wide { margin-bottom:5px; padding: 0.2em; width:460px; background:none #FFF !important; }

.SponsorsTab input.text { margin-bottom:5px; width:380px; padding: 0.2em; }
.SponsorsTab input.text-small { margin-bottom:5px; width:140px; padding: 0.2em; }
.SponsorsTab input.text-smaller { margin-bottom:5px; width:60px; padding: 0.2em; }
.SponsorsTab input.text-file { margin-bottom:5px; padding: 0.2em; }
.SponsorsTab select.select { margin-bottom:5px; padding: 0.2em; width:387px; background:none #FFF !important; }
.SponsorsTab select.select-small { margin-bottom:5px; padding: 0.2em; width:237px; background:none #FFF !important; }
.SponsorsTab select.select-films { margin-bottom:5px; padding: 0.2em; width:387px; height:195px; background:none #FFF !important; }

#addLocation, #updateLocation, #addVenue, #updateVenue { width: 50%; float:left; }
.LocationsTab input.text { margin-bottom:5px; width:200px; padding: 0.2em; }
.LocationsTab input.text-small { margin-bottom:5px; width:125px; padding: 0.2em; }
.LocationsTab select.select,
.LocationsTab select.select-location,
.LocationsTab select.select-venue { margin-bottom:5px; width: 425px; padding: 0.2em; background:none #FFF !important; }
.LocationsTab select.multiselect { margin-bottom:5px; padding: 0.2em; width:240px; height:131px; background:none #FFF !important; }
#addVenue .LocationsTab select.multiselect, #updateVenue .LocationsTab select.multiselect { height:290px; }

#addFestival, #updateFestival { width: 50%; float:left; }
.FestivalsTab input.text { margin-bottom:5px; width:200px; padding: 0.2em; }
.FestivalsTab input.text-small { margin-bottom:5px; width:125px; padding: 0.2em; }
.FestivalsTab select.select,
.FestivalsTab select.select-festival { margin-bottom:5px; width:370px; padding: 0.2em; background-color:#FFF; }
.FestivalsTab select.multiselect { margin-bottom:5px; padding: 0.2em; width:240px; height:182px; background:none #FFF !important; }

.CompetitionsTab input.text { margin-bottom:5px; width:300px; padding: 0.2em; }
.CompetitionsTab input.text-small { margin-bottom:5px; width:200px; padding: 0.2em; }
.CompetitionsTab select.select { margin-bottom:5px; width:307px; padding: 0.2em; background-color:#FFF; }
.CompetitionsTab select.select-small { margin-bottom:5px; width:207px; padding: 0.2em; background-color:#FFF; }
.CompetitionsTab tr.oddrow { background-color:#EEE; color:#000; }
.CompetitionsTab tr.evenrow { background-color:#FFF; color:#000; }
.CompetitionsTab tr.vote_link { background-color:#666; color:#FFF; border-bottom: 1px solid #666; }
.CompetitionsTab tr.vote_link a { color:#F7941D; font-weight:bold; }

.SectionsTab h3, .SponsorsTab h3, .LocationsTab h3, .FestivalsTab h3, .CompetitionsTab h3 { text-align:center; display:block; padding-bottom:3px;}

.SponsorLogoDialog input.text { margin-bottom:5px; width:268px; padding: 0.2em; }
.SponsorLogoDialog input.text-small { margin-bottom:5px; width:180px; padding: 0.2em; }
.SponsorLogoDialog input.text-file { margin-bottom:5px; padding: 0.2em; }
.SponsorLogoDialog select.select { margin-bottom:5px; padding: 0.2em; width:275px; background:none #FFF !important; }
.SponsorLogoDialog select.select-films { margin-bottom:5px; padding: 0.2em; width:275px; height:300px; background:none #FFF !important; }

.CompetitionDialog input.text { margin-bottom:5px; width:268px; padding: 0.2em; }
.CompetitionDialog select.select { margin-bottom:5px; padding: 0.2em; width:275px; background:none #FFF !important; }

.FilmSettingDialog input.text { margin-bottom:5px; width:268px; padding: 0.2em; }
.FilmSettingDialog select.select { margin-bottom:5px; padding: 0.2em; width:275px; background:none #FFF !important; }


/* --- Film Reports Page --- */
.ReportsTab select.select { margin-bottom:5px; padding: 0.2em; width:215px; background:none #FFF !important; }
.ReportsTab h3 { text-align:center; display:block; padding-bottom:3px;}
.ReportsTab .lborder { border-left:1px solid #CCC; }

#BallotCounts thead th { padding-right:0; text-align:center; }
#BallotCounts .lborder { border-left:1px solid #CCC; }
#BallotCounts td.cent, .ReportsTab th.cent { text-align:center; }


/* --- Guest Listing Page --- */
#guest_listing_table { width:100%; border:0px solid black; margin:2px 0; }
#guest_listing_table tbody { border-top: 0 solid black; }
#guest_listing_table th { border-bottom: 1px solid black; padding-right:0; background-color:#FFF; height:25px; }
#guest_listing_table tr.oddrow { background-color:#EEE; }
#guest_listing_table tr.evenrow { background-color:#FFF; }
#guest_listing_table td.cent { text-align:center; }
#guest_listing_table td.media { font-weight:bold; font-size:16px; }
#guest_listing_table .lborder { border-left:1px solid black; }
#guest_listing_table .button { padding:0.2em; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
							  border:1px solid #666; background-color:#FFF; text-align:center; }
#guest_listing_table .button a { display:block; font-weight:bold; text-decoration:none; }

.GuestDialog .error { color:#FF0000; }
.GuestDialog input.text { margin-bottom:5px; width:230px; padding: 0.2em; }
.GuestDialog select.select { margin-bottom:5px; width:245px; padding: 0.2em; background:none #FFF !important; }

button#add-guest { margin-bottom: 8px; float:left; }
button#add-guest2 { margin-top: 8px; }

/* --- Guest Edit Page --- */
#topGuestEdit { margin:0;}
#topGuestEdit input.text { margin-bottom:5px; width:175px; padding: 0.2em; }
#topGuestEdit input.text-small { margin-bottom:5px; width:75px; padding: 0.2em; }
#topGuestEdit select.select { margin-bottom:5px; width:332px; padding: 0.2em; background:none #FFF !important; }

.GuestDetailsTab { margin:0; padding:2px;}
.GuestDetailsTab label.centered_title { text-align:center; font-size:1.125em; display:block; padding-bottom:3px;}
.GuestDetailsTab input.text { margin-bottom:5px; width:145px; padding: 0.2em; }
.GuestDetailsTab input.text-small { margin-bottom:5px; width:50px; padding: 0.2em; }
.GuestDetailsTab input.text-large { margin-bottom:5px; width:183px; padding: 0.2em; }
.GuestDetailsTab input.text-larger { margin-bottom:5px; width:342px; padding: 0.2em; }
.GuestDetailsTab select.select { margin-bottom:5px; width:132px; padding: 0.2em; background:none #FFF !important; }
.GuestDetailsTab select.select-large { margin-bottom:5px; width:190px; padding: 0.2em; background:none #FFF !important; }
.GuestDetailsTab select.select-film { margin-bottom:5px; width:350px; padding: 0.2em; background:none #FFF !important; }
.GuestDetailsTab h3 { text-align:center; display:block; padding-bottom:3px;}

.FlightDialog input.text { margin-bottom:5px; width:128px; padding: 0.2em; }
.FlightDialog input.text-small { margin-bottom:5px; width:80px; padding: 0.2em; }
.FlightDialog select.select { margin-bottom:5px; width:277px; padding: 0.2em; background:none #FFF !important; }
.FlightDialog select.select-small { margin-bottom:5px; width:150px; padding: 0.2em; background:none #FFF !important; }
.FlightDialog select.select-large { margin-bottom:5px; width:220px; padding: 0.2em; background:none #FFF !important; }
.FlightDialog h3 { text-align:center; display:block; padding-bottom:3px;}

.HotelDialog input.text { margin-bottom:5px; width:130px; padding: 0.2em; }
.HotelDialog input.text-small { margin-bottom:5px; width:40px; padding: 0.2em; }
.HotelDialog select.select { margin-bottom:5px; width:281px; padding: 0.2em; background:none #FFF !important; }
.HotelDialog h3 { text-align:center; display:block; padding-bottom:3px;}

.EventAppDialog input.text { margin-bottom:5px; width:130px; padding: 0.2em; }
.EventAppDialog input.text-large { margin-bottom:5px; width:280px; padding: 0.2em; }
.EventAppDialog select.select { margin-bottom:5px; width:287px; padding: 0.2em; background:none #FFF !important; }
.EventAppDialog h3 { text-align:center; display:block; padding-bottom:3px;}

.PhotoTab h3 { text-align:center; display:block; padding-bottom:3px;}
.PhotoTab input.text-upload { margin-bottom:5px; width:300px; padding: 0.2em; }


/* --- Guest Review Page --- */
#guest_name { color:#000; font-weight:bold; }

.GuestImportDialog input.text { margin-bottom:5px; width:270px; padding: 0.2em; }
.GuestImportDialog select.select { margin-bottom:5px; width:260px; padding: 0.2em; background:none #FFF !important; }
.GuestImportDialog h3 { text-align:center; display:block; padding-bottom:3px;}
.GuestImportDialog a { color:#F7941D; }

.GuestReviewTab { margin:2px 0; background-color:#FFF; width:100%; }
.GuestReviewTab thead th { border-bottom:1px solid black; }
.GuestReviewTab button { margin-bottom:5px; }
.GuestReviewTab tbody { border-top: 0 solid black; }
.GuestReviewTab th { border-bottom: 1px solid black; padding-right:0; }
.GuestReviewTab tr.oddrow { background-color:#FFF; color:#000; }
.GuestReviewTab tr.evenrow { background-color:#EEE; color:#000; }
.GuestReviewTab tr.oddrow-imported { background-color:#FFFFBB; color:#FF0000; }
.GuestReviewTab tr.evenrow-imported { background-color:#EEEEAA; color:#FF0000; }
.GuestReviewTab .row_title { background-color:#CCC; }
.GuestReviewTab td { vertical-align:top; }
.GuestReviewTab select.select { margin-bottom:5px; width:150px; padding: 0.2em; background:none #FFF; }

/* --- Guest Settings Page --- */

.GuestDetailsSettingsTab input.text, #editDeadlinesForm input.text { margin-bottom:5px; width:200px; padding: 0.2em; }
.GuestDetailsSettingsTab input.text-small, #editDeadlinesForm input.text-small { margin-bottom:5px; width:100px; padding: 0.2em; }
.GuestDetailsSettingsTab select.select, #editDeadlinesForm select.select { padding: 0.2em; width:207px; background:none #FFF !important; }
.GuestDetailsSettingsTab select.select-small, #editDeadlinesForm select.select-small { padding: 0.2em; width:77px; background:none #FFF !important; }
.GuestDetailsSettingsTab h3, #editDeadlinesForm h3 { text-align:center; display:block; padding-bottom:3px;}
.GuestDetailsSettingsTab tr.oddrow { background-color:#FFF; color:#000; }
.GuestDetailsSettingsTab tr.evenrow { background-color:#EEE; color:#000; }

.FlightSettingsTab input.text { margin-bottom:5px; width:200px; padding: 0.2em; }
.FlightSettingsTab input.text-small { margin-bottom:5px; width:100px; padding: 0.2em; }
.FlightSettingsTab select.select { padding: 0.2em; width:207px; background:none #FFF !important; }
.FlightSettingsTab select.select-small { padding: 0.2em; width:77px; background:none #FFF !important; }
.FlightSettingsTab h3 { text-align:center; display:block; padding-bottom:3px;}

.HotelSettingsTab input.text { margin-bottom:5px; width:200px; padding: 0.2em; }
.HotelSettingsTab input.text-small { margin-bottom:5px; width:100px; padding: 0.2em; }
.HotelSettingsTab select.select { padding: 0.2em; width:207px; background:none #FFF !important; }
.HotelSettingsTab select.select-small { padding: 0.2em; width:77px; background:none #FFF !important; }
.HotelSettingsTab h3 { text-align:center; display:block; padding-bottom:3px;}

/* --- Guest Reports Page --- */
.GuestReportsTab select.select { margin-bottom:5px; padding: 0.2em; width:215px; background:none #FFF !important; }
.GuestReportsTab h3 { text-align:center; display:block; padding-bottom:3px;}
.GuestReportsTab button { margin-bottom:5px;}



/* --- Manage Users Page --- */
#manage_users_table { width:100%; border:0px solid black; margin:2px 0; }
#manage_users_table tbody { border-top: 0 solid black; }
#manage_users_table th { border-bottom: 1px solid black; padding-right:0; background-color:#FFF; height:25px; }
#manage_users_table tr.oddrow { background-color:#EEE; }
#manage_users_table tr.evenrow { background-color:#FFF; }
#manage_users_table td.cent { text-align:center; }
#manage_users_table td.media { font-weight:bold; font-size:16px; }
#manage_users_table .lborder { border-left:1px solid black; }
#manage_users_table .button { padding:0.2em; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
							  border:1px solid #666; background-color:#FFF; text-align:center; }
#manage_users_table .button a { display:block; font-weight:bold; text-decoration:none; }

.AddUsersDialog .error,
.EditUsersDialog .error { color:#FF0000; }
.AddUsersDialog input.text,
.EditUsersDialog input.text { margin-bottom:5px; width:230px; padding: 0.2em; }
.AddUsersDialog select.select,
.EditUsersDialog select.select { margin-bottom:5px; width:245px; padding: 0.2em; background:none #FFF !important; }
.AddUsersDialog .validateTips,
.EditUsersDialog .validateTips { font-size:11px; }

#addAccessLevel, #updateAccessLevel { border:none; color:#F6931F; font-weight:bold; width:100px; background-color:#EEE; }
button.add-user { margin: 8px 0; }



/* Overrides for the Color Selector plugin, used on the Film Settings Page */
#colorSelector, #colorSelectorSection { position: relative; width: 36px; height: 36px; background: url("/assets/css/admin/colorpicker/images/select2.png"); }
#colorSelector div, #colorSelectorSection div { position: absolute; top: 3px; left: 3px; width: 28px; height: 28px; background: url("/assets/css/admin/colorpicker/images/select2.png") center; }
#colorSelector2, #colorSelector2Section { position: absolute; top: 0; left: 0; width: 36px; height: 36px; background: url("/assets/css/admin/colorpicker/images/select2.png"); }
#colorSelector2 div, #colorSelector2Section div { position: absolute; top: 4px; left: 4px; width: 28px; height: 28px; background: url("/assets/css/admin/colorpicker/images/select2.png") center; }
.customWidget { position: relative; height: 36px; width: 36px; display:inline-block; top:13px; margin-top:-13px; }